.home {
  min-height: 100vh;
  height: auto;
  color: "black";
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-search {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    input {
      padding: 10px;
      outline: none;
      border: 1px solid #ccc;
      width: 300px;
      font-size: 18px;
      margin: 20px 0;
    }

    button {
      font-size: 25px;
      border: 1px solid #ccc;
      padding: 5px;
      color: #fff;
      background: #1f0288;
      outline: none;
      cursor: pointer;
    }

    &-grid {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;

      .home-grid {
        text-align: center;
      }
    }
  }
}

.container {
  margin: 1.5rem 1rem;
}
