.container {
  margin: 1.5rem 1rem;
}

.card {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 3px solid #14bdac;
  border-radius: 0.5rem;
  background-color: #e9e9e9;
  position: relative;
}

.img {
  cursor: pointer;
  height: 20vmax;
  max-height: 250px;
  margin-right: 1rem;
  transition: all 0.4s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.card__title {
  line-height: 1.15;
  margin: 0.5rem 0;
}

.fa-star {
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: 2rem;
  color: #47d1af;
  cursor: pointer;
}

.info {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding: 3rem 0;
}

@media (min-width: 411px) {
  .container {
    margin: 1.5rem 2rem;
  }

  .card {
    display: flex;
  }

  .card__text--sm {
    text-align: center;
    margin-top: 0.5rem;
  }

  .fa-star {
    font-size: 1rem;
    top: 3%;
    right: 3%;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .card {
    flex-basis: 48%;
    max-width: 575px;
  }

  .info {
    flex-basis: 100%;
    font-size: 2rem;
  }
}

@media (min-width: 1358px) {
  .container {
    justify-content: space-around;
    margin: 3rem 2rem;
  }

  .card {
    padding-right: 2rem;
  }

  .fa-star {
    font-size: 2rem;
    top: 5%;
  }
}
