.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #47d1af;
  color: #fff;
  height: 9vh;
  border-top: 1px solid #ccc;

  p {
    span {
      color: #6d4804;
    }
  }
}
